
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^fightsnight\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.fightsnight\.com$
RewriteRule ^/?$ "https\:\/\/fightsnight\.com\/" [R=301,L]

